### Preprering info for Phylogenetic trees 

in this notebook the following is listed to add to the tree
- genomes with no significance in distribution
- genomes only present in one region
- the number of samples in which each genome appears in

In [1]:
import pandas as pd
import numpy as np

### Making files for the Phylogenetic tree

In [2]:
path = '../data56_related_files/'

In [3]:
meta_binary = pd.read_csv(path+'metadata_out.tsv')

In [4]:
sample_index = pd.read_csv(path+'sampleNamesIndex.txt', header = None)

In [91]:
meta_binary.head()

,Dataset,ID,Country,gender,age.days.,Breed,isolation.location,type,Feed,Temperature,...,S42C891.fna,S49C1120.fna,S4C569.fna,S52C595.fna,S5C1113.fna,S8C2455.fna,S9C3913.fna,region,Housing_type,replicate_type
0,Huang,SRR6323252,China,male,42,Arbor Acres broiler,duodenum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,1,0,0,0,0,0,0,china,housed,pooled
1,Huang,SRR6323384,China,male,42,Arbor Acres broiler,ileum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,1,0,0,0,0,0,0,china,housed,pooled
2,Huang,SRR6323414,China,male,42,Arbor Acres broiler,jejunum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,1,0,0,0,1,0,0,china,housed,pooled
3,Huang,SRR6323550,China,male,42,Arbor Acres broiler,colorectum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,0,china,housed,pooled
4,Huang,SRR6323556,China,female,42,Local yellow-feather chickens,cecum,layer,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,0,china,housed,pooled

In [92]:
sample_index.head()

   0           1
0  0  ERR2241647
1  1  ERR2241649
2  2  ERR2241651
3  3  ERR2241653
4  4  ERR2241655

In [93]:
sample_index.rename(columns={0: 'SampleNO', 1: 'ID'}, inplace=True)

In [94]:
sample_index['SampleNO'] = sample_index.SampleNO + 1

In [95]:
sample_index.head()

   SampleNO          ID
0         1  ERR2241647
1         2  ERR2241649
2         3  ERR2241651
3         4  ERR2241653
4         5  ERR2241655

In [96]:
meta_binary_sample = pd.merge(meta_binary, sample_index, how="inner", on='ID')

In [97]:
meta_binary_sample

,Dataset,ID,Country,gender,age.days.,Breed,isolation.location,type,Feed,Temperature,...,S49C1120.fna,S4C569.fna,S52C595.fna,S5C1113.fna,S8C2455.fna,S9C3913.fna,region,Housing_type,replicate_type,SampleNO
0,Huang,SRR6323252,China,male,42,Arbor Acres broiler,duodenum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,pooled,33
1,Huang,SRR6323384,China,male,42,Arbor Acres broiler,ileum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,pooled,41
2,Huang,SRR6323414,China,male,42,Arbor Acres broiler,jejunum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,1,0,0,china,housed,pooled,42
3,Huang,SRR6323550,China,male,42,Arbor Acres broiler,colorectum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,pooled,50
4,Huang,SRR6323556,China,female,42,Local yellow-feather chickens,cecum,layer,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,pooled,51
5,Huang,SRR6323530,China,female,42,Local yellow-feather chickens,ileum,layer,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,1,0,0,1,0,0,china,housed,pooled,49
6,Huang,SRR6323503,China,female,42,Local yellow-feather chickens,colorectum,layer,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,1,0,0,0,0,0,china,housed,pooled,46
7,Huang,SRR6323350,China,female,42,Local yellow-feather chickens,jejunum,layer,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,1,0,0,0,0,0,china,housed,pooled,39
8,Huang,SRR6323197,China,female,42,Local yellow-feather chickens,duodenum,layer,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,1,0,0,1,0,0,china,housed,pooled,25
9,Huang,SRR6323247,China,male,42,Arbor Acres broiler,cecum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,single_replicate,30
10,Huang,SRR6323205,China,female,56,Local yellow-feather chickens,cecum,layer,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,single_replicate,27
11,Huang,SRR6323502,China,female,56,Local yellow-feather chickens,colorectum,layer,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,single_replicate,45
12,Huang,SRR6323493,China,male,62,Yellow dwarf chicken,colorectum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,free-range,single_replicate,44
13,Huang,SRR6323338,China,female,62,Yellow dwarf chicken,colorectum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,1,0,1,0,1,china,free-range,single_replicate,36
14,Huang,SRR6323167,China,male,78,Guangxi local chicken,colorectum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,free-range,single_replicate,23
15,Huang,SRR6323172,China,male,78,Guangxi local chicken,colorectum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,1,0,0,0,0,china,free-range,single_replicate,24
16,Huang,SRR6323295,China,female,78,Guangxi local chicken,colorectum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,1,0,0,0,0,china,free-range,single_replicate,34
17,Huang,SRR6323296,China,female,78,Guangxi local chicken,colorectum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,free-range,single_replicate,35
18,Huang,SRR6323514,China,female,41,Ross 308,cecum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,single_replicate,47
19,Huang,SRR6323244,China,male,41,Ross 308,cecum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,1,0,0,china,housed,single_replicate,29
20,Huang,SRR6323243,China,male,41,Ross 308,cecum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,single_replicate,28
21,Huang,SRR6323367,China,female,41,Ross 308,colorectum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,single_replicate,40
22,Huang,SRR6323516,China,female,41,Ross 308,cecum,broiler,not collected,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,1,0,0,china,housed,single_replicate,48
23,Gilroy,SRR9113691,UK,female,adult (133-504),Lohmann Brown,Faecal,layer,Farmgate Layer pellet and mash(ForFarmers UK l...,NaN,...,0,1,1,0,0,0,europe,free-range,single_replicate,52
24,Gilroy,SRR9113706,UK,female,adult (133-504),Lohmann Brown,Faecal,layer,Farmgate Layer pellet and mash(ForFarmers UK l...,NaN,...,0,0,0,0,0,0,europe,free-range,single_replicate,53
25,Gilroy,SRR9113707,UK,female,adult (133-504),Lohmann Brown,Faecal,layer,Farmgate Layer pellet and mash(ForFarmers UK l...,NaN,...,0,1,1,0,0,0,europe,free-range,single_replicate,54
26,Gilroy,SRR9113725,UK,female,adult (133-504),Lohmann Brown,Faecal,layer,Farmgate Layer pellet and mash(ForFarmers UK l...,NaN,...,0,1,1,0,0,0,europe,free-range,single_replicate,55
27,Gilroy,SRR9113737,UK,female,adult (133-504),Lohmann Brown,Faecal,layer,Farmgate Layer pellet and mash(ForFarmers UK l...,NaN,...,0,1,1,0,0,0,europe,free-range,single_replicate,56
28,Patrik Munk,ERR2241647,Netherlands,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,0,0,0,europe,housed,pooled,1
29,Patrik Munk,ERR2241649,Netherlands,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,2
30,Patrik Munk,ERR2241651,Netherlands,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,0,0,0,europe,housed,pooled,3
31,Patrik Munk,ERR2241653,Netherlands,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,4
32,Patrik Munk,ERR2241655,Netherlands,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,5
33,Patrik Munk,ERR2241848,Italy,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,6
34,Patrik Munk,ERR2241849,Italy,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,7
35,Patrik Munk,ERR2241855,Italy,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,0,1,0,europe,housed,pooled,8
36,Patrik Munk,ERR2241856,Italy,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,1,1,europe,housed,pooled,9
37,Patrik Munk,ERR2241860,Italy,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,1,1,europe,housed,pooled,10
38,Patrik Munk,ERR2241919,Denmark,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,0,0,0,europe,housed,pooled,16
39,Patrik Munk,ERR2241923,Denmark,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,0,0,0,europe,housed,pooled,17
40,Patrik Munk,ERR2241925,Denmark,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,0,0,0,europe,housed,pooled,18
41,Patrik Munk,ERR2241927,Denmark,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,19
42,Patrik Munk,ERR2241945,Denmark,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,20
43,Patrik Munk,ERR2241887,Poland,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,11
44,Patrik Munk,ERR2241890,Poland,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,12
45,Patrik Munk,ERR2241891,Poland,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,13
46,Patrik Munk,ERR2241893,Poland,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,14
47,Patrik Munk,ERR2241899,Poland,NaN,33.8 (average),NaN,Faecal,broiler,NaN,NaN,...,0,1,0,1,0,0,europe,housed,pooled,15

In [98]:
meta_binary_sample.to_csv('../data56_related_files/meta_with_sample_no.tsv', index=False)

### Listing the genomes with no significantly difference in distribution

In [99]:
all_columns = meta_binary_sample.columns

In [100]:
all_genomes = []
for name in all_columns:
    if any(char.isdigit() for char in name):
        all_genomes.append(name)

From inStrain_output.pynb we have the genomes significantly more present in china and in europe

In [101]:
more_present_china = ['GCF_001436315.1_']

In [102]:
more_present_europe = ['GCF_000159355.1_', 'GCF_000159435.1_', 
                       'GCF_000614735.1_', 'GCF_001435955.1_',
                       'GCF_002088015.1_', 'GCF_005405465.1_', 
                       'GCF_013694365.1_', 'S16C442.fna', 'S18C2441.fna', 'S24C362.fna', 
                       'S2C3320.fna', 'S4C569.fna']

In [103]:
similar_presence_both_regions = set(all_genomes) - set(more_present_china) - set(more_present_europe)

In [104]:
#sanity check - det stemmer
print(len(more_present_europe))
print(len(more_present_china))
print(len(similar_presence_both_regions))
print(len(all_genomes))

12
1
44
57

In [105]:
#the significantly more present genomes in china and europe. 
more_present_europe_short = [ '.'.join(x.split('.')[:1]) for x in more_present_europe ]
similar_presence_both_regions_short = [ '.'.join(x.split('.')[:1]) for x in similar_presence_both_regions ]
more_present_china_short = [ '.'.join(x.split('.')[:1]) for x in more_present_china ]

In [106]:
similar_presence_both_regions

{'GCA_900557215.1_',
 'GCF_000016825.1_',
 'GCF_000160575.1_',
 'GCF_000193635.1_',
 'GCF_000423265.1_',
 'GCF_000615285.1_',
 'GCF_001433855.1_',
 'GCF_001434785.1_',
 'GCF_001435345.1_',
 'GCF_001435775.1_',
 'GCF_001436215.1_',
 'GCF_001436295.1_',
 'GCF_001654615.1_',
 'GCF_002706375.1_',
 'GCF_002706745.1_',
 'GCF_002940945.1_',
 'GCF_004745525.1_',
 'GCF_005405305.1_',
 'GCF_009764355.1_',
 'GCF_012843675.1_',
 'GCF_900240275.1_',
 'S10C1039.fna',
 'S10C1297.fna',
 'S10C3913.fna',
 'S10C455.fna',
 'S12C1500.fna',
 'S13C2782.fna',
 'S14C1039.fna',
 'S14C330.fna',
 'S14C589.fna',
 'S15C1039.fna',
 'S16C670.fna',
 'S20C3157.fna',
 'S28C2674.fna',
 'S2C1297.fna',
 'S2C205.fna',
 'S33C4056.fna',
 'S36C1134.fna',
 'S42C891.fna',
 'S49C1120.fna',
 'S52C595.fna',
 'S5C1113.fna',
 'S8C2455.fna',
 'S9C3913.fna'}

#### Defining which genomes are only present in one region.

In [107]:
genome_country = meta_binary_sample[all_genomes]

In [108]:
meta_binary_sample.head(5)

,Dataset,ID,Country,gender,age.days.,Breed,isolation.location,type,Feed,Temperature,...,S49C1120.fna,S4C569.fna,S52C595.fna,S5C1113.fna,S8C2455.fna,S9C3913.fna,region,Housing_type,replicate_type,SampleNO
0,Huang,SRR6323252,China,male,42,Arbor Acres broiler,duodenum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,pooled,33
1,Huang,SRR6323384,China,male,42,Arbor Acres broiler,ileum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,pooled,41
2,Huang,SRR6323414,China,male,42,Arbor Acres broiler,jejunum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,1,0,0,china,housed,pooled,42
3,Huang,SRR6323550,China,male,42,Arbor Acres broiler,colorectum,broiler,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,pooled,50
4,Huang,SRR6323556,China,female,42,Local yellow-feather chickens,cecum,layer,None,reduced from 35 °C on day 1 to 24 °C on day 21...,...,0,0,0,0,0,0,china,housed,pooled,51

In [109]:
genome_country['region'] =  meta_binary_sample['region']

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [110]:
genome_country.head()

,GCA_900557215.1_,GCF_000016825.1_,GCF_000159355.1_,GCF_000159435.1_,GCF_000160575.1_,GCF_000193635.1_,GCF_000423265.1_,GCF_000614735.1_,GCF_000615285.1_,GCF_001433855.1_,...,S33C4056.fna,S36C1134.fna,S42C891.fna,S49C1120.fna,S4C569.fna,S52C595.fna,S5C1113.fna,S8C2455.fna,S9C3913.fna,region
0,0,0,0,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,china
1,0,0,0,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,china
2,0,0,0,0,0,1,0,0,0,0,...,1,0,1,0,0,0,1,0,0,china
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,china
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,china

In [111]:
sample_in_country = {}

for genome in all_genomes:
    all_regions = []
    for index, row in genome_country.iterrows():
        if row[genome] == 1 :
            all_regions.append(row['region'])
 
    sample_in_country[genome] = set(all_regions)
print(sample_in_country)

{'GCA_900557215.1_': {'europe'}, 'GCF_000016825.1_': {'europe'}, 'GCF_000159355.1_': {'europe', 'china'}, 'GCF_000159435.1_': {'europe', 'china'}, 'GCF_000160575.1_': {'china'}, 'GCF_000193635.1_': {'china'}, 'GCF_000423265.1_': {'europe', 'china'}, 'GCF_000614735.1_': {'europe', 'china'}, 'GCF_000615285.1_': {'europe', 'china'}, 'GCF_001433855.1_': {'europe'}, 'GCF_001434785.1_': {'europe'}, 'GCF_001435345.1_': {'europe'}, 'GCF_001435775.1_': {'europe', 'china'}, 'GCF_001435955.1_': {'europe', 'china'}, 'GCF_001436215.1_': {'europe', 'china'}, 'GCF_001436295.1_': {'europe'}, 'GCF_001436315.1_': {'europe', 'china'}, 'GCF_001654615.1_': {'europe', 'china'}, 'GCF_002088015.1_': {'europe', 'china'}, 'GCF_002706375.1_': {'europe'}, 'GCF_002706745.1_': {'europe'}, 'GCF_002940945.1_': {'europe'}, 'GCF_004745525.1_': {'europe'}, 'GCF_005405305.1_': {'europe'}, 'GCF_005405465.1_': {'europe'}, 'GCF_009764355.1_': {'europe'}, 'GCF_012843675.1_': {'europe'}, 'GCF_013694365.1_': {'europe', 'china'}, 'GCF_900240275.1_': {'europe'}, 'S10C1039.fna': {'europe', 'china'}, 'S10C1297.fna': {'europe', 'china'}, 'S10C3913.fna': {'europe', 'china'}, 'S10C455.fna': {'europe'}, 'S12C1500.fna': {'europe'}, 'S13C2782.fna': {'europe', 'china'}, 'S14C1039.fna': {'europe', 'china'}, 'S14C330.fna': {'europe'}, 'S14C589.fna': {'europe', 'china'}, 'S15C1039.fna': {'europe', 'china'}, 'S16C442.fna': {'europe', 'china'}, 'S16C670.fna': {'europe', 'china'}, 'S18C2441.fna': {'europe', 'china'}, 'S20C3157.fna': {'europe', 'china'}, 'S24C362.fna': {'europe', 'china'}, 'S28C2674.fna': {'china'}, 'S2C1297.fna': {'europe', 'china'}, 'S2C205.fna': {'europe', 'china'}, 'S2C3320.fna': {'europe', 'china'}, 'S33C4056.fna': {'china'}, 'S36C1134.fna': {'europe', 'china'}, 'S42C891.fna': {'europe', 'china'}, 'S49C1120.fna': {'china'}, 'S4C569.fna': {'europe', 'china'}, 'S52C595.fna': {'europe'}, 'S5C1113.fna': {'europe', 'china'}, 'S8C2455.fna': {'europe'}, 'S9C3913.fna': {'europe', 'china'}}

In [112]:
present_only_europe = []
present_only_china = []
present_both = []

for key, value in sample_in_country.items():
    if value == {'europe'}:
        present_only_europe.append(key)
    elif value == {'china'}:
        present_only_china.append(key)
    else:
        present_both.append(key)

In [113]:
print(len(present_both))
print(len(present_only_china))
print(len(present_only_europe))

32
5
20

In [114]:
present_both_short = [ '.'.join(x.split('.')[:1]) for x in present_both]
present_only_china_short = [ '.'.join(x.split('.')[:1]) for x in present_only_china]
present_only_europe_short = [ '.'.join(x.split('.')[:1]) for x in present_only_europe]

In [115]:
present_both_short

['GCF_000159355',
 'GCF_000159435',
 'GCF_000423265',
 'GCF_000614735',
 'GCF_000615285',
 'GCF_001435775',
 'GCF_001435955',
 'GCF_001436215',
 'GCF_001436315',
 'GCF_001654615',
 'GCF_002088015',
 'GCF_013694365',
 'S10C1039',
 'S10C1297',
 'S10C3913',
 'S13C2782',
 'S14C1039',
 'S14C589',
 'S15C1039',
 'S16C442',
 'S16C670',
 'S18C2441',
 'S20C3157',
 'S24C362',
 'S2C1297',
 'S2C205',
 'S2C3320',
 'S36C1134',
 'S42C891',
 'S4C569',
 'S5C1113',
 'S9C3913']

### listing the genomes based on  the number  of appearences of each genome.

In [118]:
smallest_presence = []
small_presence = []
big_presence = []
biggest_presence = []

for j in range(0,57,1):
    if genome_country.drop('region', axis=1).sum()[j] <= 5:
        smallest_presence.append(genome_country.drop('region', axis=1).sum().index[j])
    elif genome_country.drop('region', axis=1).sum()[j] > 5 and genome_country.drop('region', axis=1).sum()[j] <= 15:
        small_presence.append(genome_country.drop('region', axis=1).sum().index[j])
    elif genome_country.drop('region', axis=1).sum()[j] > 15 and genome_country.drop('region', axis=1).sum()[j] <= 30:
        big_presence.append(genome_country.drop('region', axis=1).sum().index[j])
    else:
        biggest_presence.append(genome_country.drop('region', axis=1).sum().index[j])

In [119]:
print(len(small_presence))
print(len(smallest_presence))
print(len(big_presence))
print(len(biggest_presence))

17
24
11
5

In [120]:
len(small_presence)+len(smallest_presence)+len(big_presence)+len(biggest_presence)

57

In [121]:
genome_country.drop('region', axis=1).sum()

GCA_900557215.1_     8
GCF_000016825.1_     2
GCF_000159355.1_    23
GCF_000159435.1_    31
GCF_000160575.1_     3
GCF_000193635.1_     6
GCF_000423265.1_     7
GCF_000614735.1_    27
GCF_000615285.1_     7
GCF_001433855.1_     1
GCF_001434785.1_     1
GCF_001435345.1_     1
GCF_001435775.1_     8
GCF_001435955.1_    20
GCF_001436215.1_     2
GCF_001436295.1_     1
GCF_001436315.1_    29
GCF_001654615.1_    14
GCF_002088015.1_    33
GCF_002706375.1_     1
GCF_002706745.1_     2
GCF_002940945.1_     2
GCF_004745525.1_     2
GCF_005405305.1_     1
GCF_005405465.1_    11
GCF_009764355.1_     1
GCF_012843675.1_     2
GCF_013694365.1_    23
GCF_900240275.1_     5
S10C1039.fna        13
S10C1297.fna         5
S10C3913.fna         2
S10C455.fna          3
S12C1500.fna         1
S13C2782.fna        32
S14C1039.fna        14
S14C330.fna          8
S14C589.fna         10
S15C1039.fna        14
S16C442.fna         28
S16C670.fna          7
S18C2441.fna        29
S20C3157.fna        32
S24C362.fna         27
S28C2674.fna         7
S2C1297.fna          7
S2C205.fna          38
S2C3320.fna         28
S33C4056.fna         5
S36C1134.fna        14
S42C891.fna          8
S49C1120.fna         4
S4C569.fna          27
S52C595.fna          4
S5C1113.fna         20
S8C2455.fna          3
S9C3913.fna          3
dtype: int64

In [122]:
smallest_presence = [ '.'.join(x.split('.')[:1]) for x in smallest_presence]
small_presence = [ '.'.join(x.split('.')[:1]) for x in small_presence]
big_presence = [ '.'.join(x.split('.')[:1]) for x in big_presence]
biggest_presence = [ '.'.join(x.split('.')[:1]) for x in biggest_presence]

In [123]:
biggest_presence

['GCF_000159435', 'GCF_002088015', 'S13C2782', 'S20C3157', 'S2C205']